<h1>Editing Patient</h1>

<%= render 'form', patient: @patient %>

<%= link_to 'Add a New Patient Note', new_note_path(patient_id: @patient.id) %> | 
<%= link_to 'Show', @patient %> |
<%= link_to 'Back', patients_path %>
